<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzHdmz1SE62OOE_VRz33r4Tza4F3aSQRI</string>
	<key>GCM_SENDER_ID</key>
	<string>287119515439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vistatowerapp.app</string>
	<key>PROJECT_ID</key>
	<string>vista-tower-app</string>
	<key>STORAGE_BUCKET</key>
	<string>vista-tower-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287119515439:ios:a54b78f1f9d1aa461a4bda</string>
</dict>
</plist>